@import './variables';

.card-model {
  width: calc(100% - 10px);
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  background: $empty;
  border-radius: 5px;
  box-shadow: $shaddow;
  margin: 5px;
  box-sizing: border-box;

  .top {
    width: 100%;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-y: hidden;
    flex-shrink: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h6 {
      white-space: nowrap;
    }
  }

  .top::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
  }

  .bottom {
    width: 100%;
    flex-grow: 1;
  }

  img {
    width: 100%;
  }
}